// reset css
@import 'bower_components/reset-css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/wrapper';

// pages
@import 'page/index';


.full {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.mirror {
    transform: translateX(-1);
}